.card-body {
  height: 35rem;
  width: 20rem;
  background-color: #081b53;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile{
  display: flex;
  justify-content: flex-start;
}

.title {
  color: white;
  font-size: 2rem;
}

.info{
    display: flex;
  justify-content: space-between;
}

.special{
     color: #999999;
}

.price{
    font-size: -.5rem;
  font-weight: bold;
  color:#2BA897 ;
  margin-bottom: 0.5rem;
  width: 50%;
}

.desc{
     font-size: 1rem;
  color: #999999;
}

.time-left{
    font-size: -.5rem;
  color: #999999;
  margin-bottom: 1rem;
  width: 50%;
}

#pfp {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 2px solid white;
}

#nft {
  height: 17.5rem;
  width: 19.5rem;
  border-radius: .5rem;
}

#profile{
      display: flex;
      justify-content: flex-start;
  justify-content: space-between;
}

hr{
  width: 310px;
}

p{
  color: #786262;
}